<!doctype html>
<html>
<head>
    <title>Evaluar Presentación</title>
</head>
<body>
    <h1>Evaluar Presentación</h1>
    <form method="post">
        <p>¿Presentación clara y dentro del tiempo? <input type="radio" name="presentacion" value="si">Sí <input type="radio" name="presentacion" value="no">No</p>
        <p>¿Uso de pocas muletillas? <input type="radio" name="muletillas" value="si">Sí <input type="radio" name="muletillas" value="no">No</p>
        <p>¿El programa funcionó en la presentación? 
            <input type="radio" name="programa" value="si">Sí
            <input type="radio" name="programa" value="errores">Con errores
            <input type="radio" name="programa" value="no">No
        </p>
        <input type="submit" value="Calificar">
    </form>
</body>
</html>
