<!doctype html>
<html>
<head>
    <title>Evaluar Tarea</title>
</head>
<body>
    <h1>Evaluar Tarea Práctica</h1>
    <form method="post">
        <p>¿Tiene portada completa? <input type="radio" name="portada" value="si">Sí <input type="radio" name="portada" value="no">No</p>
        <p>¿El programa funciona? 
            <input type="radio" name="funcionamiento" value="si">Sí
            <input type="radio" name="funcionamiento" value="errores">Con errores
            <input type="radio" name="funcionamiento" value="no">No
        </p>
        <p>¿Documentación completa? <input type="radio" name="documentacion" value="si">Sí <input type="radio" name="documentacion" value="no">No</p>
        <p>¿Conclusión redactada? <input type="radio" name="conclusion" value="si">Sí <input type="radio" name="conclusion" value="no">No</p>
        <input type="submit" value="Calificar">
    </form>
</body>
</html>
